.day-column {
    border-right: 1px dashed black;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.alternating-month {
    background: #E0FFFF;
}


.day-column:last-child {
    border-right: none;
}

.is-todays-date {
    background: red;
}